/* HOME */
.home_lsj {}

.home_lsj .left_lsj {}

.home_lsj .left_lsj>h1 {}

.home_lsj .left_lsj>p {}

.home_lsj .left_lsj .bottom_lsj {}

.home_lsj .left_lsj .startBtn_lsj {}

.home_lsj .left_lsj .videoBtn_lsj {}

.home_lsj .right_lsj {}

.home_lsj .right_lsj img {}


/* LOGO SLIDE */
.slide_frame_lsj {}

.slide_frame_lsj .slide_lsj {}

.slide_frame_lsj .slide_lsj img {}


/* ABOUT US - TOP */
.about_top_lsj {}

.about_top_lsj .top_lsj {}

.about_top_lsj .top_lsj>h2 {}

.about_top_lsj .left_lsj {}

.about_top_lsj .left_lsj>p {}

.about_top_lsj .left_lsj>span {}

.about_top_lsj .right_lsj {}

.about_top_lsj .right_lsj>p {}

.about_top_lsj .right_lsj>a {}


/* ABOUT US - MIDDLE */
.about_middle_lsj {}

.about_middle_lsj .left_lsj {}

.about_middle_lsj .left_lsj .top_lsj {}

.about_middle_lsj .left_lsj .top_lsj h3 {}

.about_middle_lsj .left_lsj .top_lsj h3 span {}

.about_middle_lsj .left_lsj .top_lsj h3 strong {}

.about_middle_lsj .left_lsj .top_lsj p {}

.about_middle_lsj .left_lsj .bottom_lsj {}

.about_middle_lsj .left_lsj .item_lsj {}

.about_middle_lsj .left_lsj .item_lsj span {}

.about_middle_lsj .right_lsj {}

.about_middle_lsj .right_lsj img {}


/* ABOUT US - BOTTOM */
.about_bottom_lsj {}

.about_bottom_lsj .left_lsj {}

.about_bottom_lsj .left_lsj img {}

.about_bottom_lsj .right_lsj {}

.about_bottom_lsj .right_lsj h3 {}

.about_bottom_lsj .right_lsj>p {}

.about_bottom_lsj .right_lsj .progress_lsj {}

.about_bottom_lsj .right_lsj .box_lsj {}

.about_bottom_lsj .right_lsj .box_lsj span {}


/* SERVICES */
.service_lsj {}

.service_lsj .top_lsj {}

.service_lsj .top_lsj h2 {}

.service_lsj .top_lsj p {}

.service_lsj .bottom_lsj {}

.service_lsj .bottom_lsj .item_lsj {}

.service_lsj .bottom_lsj .item_lsj img {}

.service_lsj .bottom_lsj .item_lsj h4 {}

.service_lsj .bottom_lsj .item_lsj p {}


/* WORK PROCESS */
.work_process_lsj {}

.work_process_lsj .top_lsj {}

.work_process_lsj .top_lsj h2 {}

.work_process_lsj .top_lsj p {}

.work_process_lsj .bottom_lsj {}

.work_process_lsj .bottom_lsj .item_lsj {}

.work_process_lsj .bottom_lsj .item_lsj img {}

.work_process_lsj .bottom_lsj .content_lsj {}

.work_process_lsj .bottom_lsj .number_lsj {}

.work_process_lsj .bottom_lsj h3 {}

.work_process_lsj .bottom_lsj p {}

.work_process_lsj .bottom_lsj .list_lsj {}

.work_process_lsj .bottom_lsj .list_lsj img {}

.work_process_lsj .bottom_lsj .list_lsj span {}


/* CALL TO ACTION */
.call_to_action_lsj {}

.call_to_action_lsj h3 {}

.call_to_action_lsj p {}

.call_to_action_lsj a {}